body {
border-color: aqua;
background-image: url('space3.png')
background-attachment: fixed;
background-size: cover;

}
#name {
  margin-left: 50px; 
}
#dob {
    margin-left: 6px;
    border: 2;
    width: 180px;
}
form {
   text-align: center;
   margin: 10px;
   padding: 50px;
   background-size: 500px;
   
   text-decoration: wavy;
   color: aliceblue;
}
#email { 
    margin-left: 42px;

}
#pwd {
    margin-left: 23px;
}
#head {
    color: aqua;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}
#input1 {
    border: 2px solid wheat; 
    width: 10%;
}
.input {
  background-color: rgb(18, 3, 104);
  border: 1px solid rgba(18, 3, 104, 0.8);
  padding: 5px;
  
}
.input:hover  {
 padding: 8px;
 color: brown;
}
#inp:hover {
  cursor: pointer;

}
